.search-ride-form {
  padding: 20px;
  background-color: #151515;
  border-radius: 48px 0px 0px 50px;
  width: 50%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
}

.form-ride {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Manrope", sans-serif;
}

.form-ride label {
  width: 100%;
}

form input {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 10px 0px;
  border: none;
  border-radius: 4px;
  height: 35px;
  padding-left: 10px;
}

.form-ride span {
  color: white;
  font-size: 12px;
}

.form-ride input[type="submit"] {
  width: 100%;
  max-width: 185px;
  height: 30px;
  color: white;
  font-weight: 600;
  background-color: #ff9900;
  margin-top: 15px;
  border-radius: 40px;
  cursor: pointer;
}

.form-ride input[type="submit"]:disabled {
  background-color: #ff99005b;
  cursor: not-allowed;
}

.form-ride input:focus {
  outline: none;
}

.form-ride input::placeholder {
  font-size: 10px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  font-size: 12px;
}

.input-container .icon-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #b0b0b0;
  pointer-events: none;
}

h2 {
  color: #ff9900;
  text-align: center;
}


.preview-results-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.buttons-container {
  justify-content: space-between;
}

.btn-back,
.btn-confirm {
  padding: 7px;
  font-size: 12px;
  border-radius: 5px;
}

.results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.results p { 
  color: aliceblue;
  font-size: 14px;
  padding-bottom: 10px;
}