.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/img/motorista.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.apresentacao {
  padding: 50px;
  width: 500px;
  font-weight: 600;
  color: #fff;
}

.btn-submit {
  background: linear-gradient(45deg, #ff9900, #ff6600); /* Gradiente inicial */
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.9s ease; /* Transição suave apenas para o background */
}

.btn-submit:hover {
  background: linear-gradient(
    45deg,
    #ff6600,
    #ff3300
  ); /* Gradiente alterado ao passar o mouse */
}
